body {
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    cursor: pointer;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
    justify-content: space-between;
    padding: 2rem;
    /* gap: 1.2rem; */
    border-radius: 10px;
    flex-basis: calc(35% - 20px);
    max-width: calc(35% - 20px);
    z-index: 2;
    height: 80vh;
}


@media (max-width: 1200px) {
    .container {
        height: 100%;
        margin: 10% 0;
    }

    .box {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 5% 0;
    }
}

@media (max-width: 750px) {
    .box {
        flex-basis: calc(100% - 20px);
        max-width: calc(90% - 20px);
        margin: 10% 0;
    }

    .container {
        height: 100%;
        margin-bottom: 20%;
    }
}

.qrcode {
    width: 8rem;
    height: auto;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.descriptionRight,
.descriptionLeft {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.descriptionLeft {
    flex-direction: row-reverse;
}

.museumTitle {
    justify-content: center;
    align-items: center;
}

.museumTitle h2 {
    font-size: 1.2rem;
}
